<div>
    <tree-root #tree
      [nodes]="nodes"
      [options]="config.options"
      (activate)="SelectNode($event)"
    >
        <ng-template #treeNodeTemplate let-node let-index="index" *ngIf="config.nodeTemplateComponent">
            <dynamic-container [data]="{item: node}"
                               [componentClass]="config.nodeTemplateComponent"
            >
            </dynamic-container>
        </ng-template>
    </tree-root>

    <div class="pl-3" *ngIf="isLoadedAllElements === false">
        <button  class="btn btn-sm btn-secondary" (click)="AddRoots()">{{expandButtonText}}</button>
    </div>
</div>
